<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "アペフチ" %></title>

    <%= javascript_include_tag '../bower_components/webcomponentsjs/webcomponents.min.js' %>
    <%= component_import_tag :elements %>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag :site %>
    <%= stylesheet_link_tag :highlight %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <paper-header-panel>
      <paper-toolbar>
        <h1><%= current_page.data.title || "アペフチ" %></h1>
      </paper-toolbar>
      <article>
        <paper-card>
          <%= yield %>
        </paper-card>
      </article>
      <%= link_to current_page.next_article.data.title, current_page.next_article.url if current_page.next_article %>
      <%= link_to current_page.previous_article.data.title, current_page.previous_article.url if current_page.previous_article %>
    </paper-header-panel>
  </body>
</html>
