<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "アペフチ" %></title>

    <%= javascript_include_tag '../bower_components/webcomponentsjs/webcomponents.min.js' %>
    <%= component_import_tag :elements %>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag :site %>
    <%= stylesheet_link_tag :highlight %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>" unresolved>
    <paper-header-panel>
      <paper-toolbar>
        <h2>
          <% link_to '/index.html' do %>
          アペフチ
          <paper-ripple></paper-ripple>
          <% end %>
        </h2>
      </paper-toolbar>
      <article>
        <paper-card>
          <h1><%= current_page.data.title %></h1>
          <time pubdate><%=h current_page.date.strftime('%F') %></time>
          <% if current_page.data.tags && !current_page.data.tags.empty? %>
          <ul class="tags">
            <% current_page.data.tags.each do |tag| %>
            <li><%= tag %></li>
            <% end %>
          </ul>
          <% end %>
          <%= yield %>
        </paper-card>
        <footer>
          <paper-card>
            <% if current_page.next_article %>
            <% link_to current_page.next_article.url, :rel => 'next' do %>
            <paper-button raised><%= current_page.next_article.data.title %></paper-button>
            <% end %>
            <% end %>
            <% if current_page.previous_article %>
            <% link_to current_page.previous_article.url, :rel => 'previous' do %>
            <paper-button raised><%= current_page.previous_article.data.title %></paper-button>
            <% end %>
            <% end %>
          </paper-card>
          <paper-card>
            <%= partial 'author' %>
          </paper-card>
        </footer>
      </article>
    </paper-header-panel>
  </body>
</html>
