<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || data.site.title %></title>

    <%= partial 'android_firefox' %>
    <%= javascript_include_tag '../bower_components/webcomponentsjs/webcomponents.min.js' %>
    <%= component_import_tag :elements %>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link href=<%= url_for h(app.config[:feed_uri]) %> rel=alternate type="application/atom+xml">

    <%= stylesheet_link_tag :site %>
    <%= stylesheet_link_tag :highlight %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>" unresolved>
    <paper-header-panel>
      <paper-toolbar>
        <h2>
          <% link_to '/index.html' do %>
          <%=h data.site.title %>
          <paper-ripple></paper-ripple>
          <% end %>
        </h2>
      </paper-toolbar>
      <article>
        <header>
          <paper-card>
            <h1><%= current_page.data.title %></h1>
            <time pubdate><%=h current_page.date.strftime('%F') %></time>
            <% if current_page.data.tags && !current_page.data.tags.empty? %>
            <ul class="tags">
              <% current_page.data.tags.each do |tag| %>
              <li><%= link_to tag, upath(tag_path(tag)), :rel => 'tag' %></li>
              <% end %>
            </ul>
            <% end %>
          </paper-card>
        </header>
        <paper-card>
          <%= yield %>
        </paper-card>
        <footer>
          <%= partial 'adjacent', :locals => {
                :next_page => {:page => current_page.next_article, :label => current_page.next_article&.data&.title},
                :previous_page => {:page => current_page.previous_article, :label => current_page.previous_article&.data&.title},
              } %>
          <paper-card>
            <%= partial 'author' %>
          </paper-card>
        </footer>
      </article>
    </paper-header-panel>
  </body>
</html>
