<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || data.site.title %></title>

    <%= javascript_include_tag '../bower_components/webcomponentsjs/webcomponents-lite.js' %>
    <%= component_import_tag :elements %>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <%= feed_tag :atom, h(url_for(File.join('/', app.extensions[:feed].options.uri))), :title => app.data.site.title %>

    <%= stylesheet_link_tag :site %>
    <%= stylesheet_link_tag '../../bower_components/sanitize-css/sanitize.css' %>
    <%= stylesheet_link_tag :highlight %>
    <%= javascript_include_tag :all %>

    <%= favicon_tag '../favicon.ico', rel: 'shortcut icon', type: 'image/x-icon' %>
    <%= favicon_tag 'favicon.png', size: '60x60' %>

    <meta name=og:title content="<%= current_page.data.title || data.site.title %>">
    <meta name=twitter:description content="<%=h current_page.summary(180) %>">
    <meta name=twitter:card content=summary>
    <meta name=twitter:site content=@KitaitiMakoto>
    <meta name=twitter:image content="<%= URI(app.data.site.uri) + current_page.destination_path + image_path('icon.png') %>">
  </head>

  <body class="<%= page_classes %>">
    <blog-router base-regex="^<%= config[:base] %>"></blog-router>
    <main>
      <app-header-layout>
        <app-header fixed shadow slot=header>
          <app-toolbar>
            <h2 class="site-title">
              <% link_to '/index.html' do %>
              <%=h data.site.title %>
              <paper-ripple></paper-ripple>
              <% end %>
            </h2>
          </app-toolbar>
        </app-header>
        <article>
          <header>
            <paper-card>
              <h1><%= current_page.data.title %></h1>
              <time pubdate><%=h current_page.date.strftime('%F') %></time>
              <% if current_page.data.tags && !current_page.data.tags.empty? %>
              <ul class="tags">
                <% current_page.data.tags.each do |tag| %>
                <li><%= link_to tag, upath(tag_path(tag)), :rel => 'tag' %></li>
                <% end %>
              </ul>
              <% end %>
            </paper-card>
          </header>
          <paper-card>
            <%= yield %>
          </paper-card>
          <footer>
            <%= partial 'adjacent', :locals => {
                  :next_page_info => {:page => current_page.next_article, :label => current_page.next_article&.data&.title},
                  :previous_page_info => {:page => current_page.previous_article, :label => current_page.previous_article&.data&.title},
                } %>
            <paper-card>
              <%= partial 'search' %>
          </paper-card>
          <paper-card>
              <%= partial 'author' %>
            </paper-card>
          </footer>
        </article>
      </app-header-layout>
    </main>

    <script defer async src="//hypothes.is/embed.js"></script>
    <script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>
