<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name=description content="<%=h app.data.site.description%>">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || data.site.title %></title>

    <%= javascript_include_tag '../bower_components/webcomponentsjs/webcomponents-lite.js' %>
    <%= component_import_tag :elements %>

    <%= feed_tag :atom, h(url_for(File.join('/', app.extensions[:feed].options.uri))), :title => app.data.site.title %>

    <%= stylesheet_link_tag 'bower_components/sanitize-css/sanitize.css' %>
    <%= stylesheet_link_tag :highlight %>
    <%= javascript_include_tag :all %>

    <%= favicon_tag '../favicon.ico', rel: 'shortcut icon', type: 'image/x-icon' %>
    <%= favicon_tag 'favicon.png', size: '60x60' %>

    <meta name=og:description content="<%=h app.data.site.description%>">
    <meta name=og:title content="<%=h app.data.site.title %>">
    <meta name=twitter:card content=summary>
    <meta name=twitter:site content=@KitaitiMakoto>
    <meta name=twitter:image content="<%= URI(app.data.site.uri) + current_page.destination_path + image_path('icon.png') %>">

    <meta name=robots content="noindex,follow">
  </head>

  <body class="<%= page_classes %>">
    <blog-router base-regex="^<%= config[:base] %>"></blog-router>
    <main>
      <app-header-layout>
        <app-header fixed condenses effects=waterfall slot=header>
          <app-toolbar></app-toolbar>
          <app-toolbar sticky>
            <h1 class=site-title><%= link_to data.site.title, '/index.html' %></h1>
          </app-toolbar>
        </app-header>
        <%= yield %>
        <footer>
          <%= partial 'adjacent', :locals => {
          :next_page_info => {:page => prev_page, :label => "前#{per_page}日分"},
          :previous_page_info => {:page => next_page, :label => "次#{per_page}日分"}
          } %>
          <paper-card>
            <%= partial 'search' %>
          </paper-card>
          <paper-card>
            <%= partial 'author' %>
          </paper-card>
        </footer>
      </app-header-layout>
    </main>
    <script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>
