<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || data.site.title %></title>

    <%= partial 'android_firefox' %>
    <%= javascript_include_tag '../bower_components/webcomponentsjs/webcomponents.min.js' %>
    <%= component_import_tag :elements %>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <%= feed_tag :atom, h(url_for(File.join('/', app.extensions[:feed].options.uri))), :title => app.data.site.title %>

    <%= stylesheet_link_tag :site %>
    <%= stylesheet_link_tag :highlight %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>" unresolved>
    <paper-header-panel mode=waterfall-tall>
      <paper-toolbar>
        <h1 class=site-title><%= link_to data.site.title, '/index.html' %></h1>
      </paper-toolbar>
      <main>
        <%= yield %>
      </main>
      <footer>
        <%= partial 'adjacent', :locals => {
              :next_page => {:page => prev_page, :label => "前#{per_page}日分"},
              :previous_page => {:page => next_page, :label => "次#{per_page}日分"}
            } %>
        <paper-card>
          <%= partial 'author' %>
        </paper-card>
      </footer>
    </paper-header-panel>
  </body>
</html>
