<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name=description content="<%=h app.data.site.description%>">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || data.site.title %></title>

    <script src="<%= url_for('/bower_components/webcomponentsjs/webcomponents-lite.js') %>"></script>
    <%= component_import_tag :elements %>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <%= feed_tag :atom, h(url_for(File.join('/', app.extensions[:feed].options.uri))), :title => app.data.site.title %>

    <%= stylesheet_link_tag :site %>
    <%= stylesheet_link_tag :highlight %>
    <%= javascript_include_tag :all %>

    <%= favicon_tag '../favicon.ico', rel: 'shortcut icon', type: 'image/x-icon' %>
    <%= favicon_tag 'favicon.png', size: '60x60' %>

    <meta name=og:description content="<%=h app.data.site.description%>">
    <meta name=og:title content="<%=h app.data.site.title %>">
    <meta name=twitter:card content=summary>
    <meta name=twitter:site content=@KitaitiMakoto>
    <meta name=twitter:image content="<%= URI(app.data.site.uri) + current_page.destination_path + image_path('icon.png') %>">
  </head>

  <body class="<%= page_classes %>" unresolved>
    <paper-header-panel>
      <paper-toolbar slot=header>
        <h1 class=site-title><%= link_to data.site.title, '/index.html' %></h1>
      </paper-toolbar>
      <main slot=content>
        <%= yield %>
      </main>
      <footer slot=content>
        <paper-card>
          <%= partial 'author' %>
        </paper-card>
      </footer>
    </paper-header-panel>
  </body>
</html>
