---
layout: false
---
<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">

    <title><%=h tagname %>とタグ付けられたページ</title>

    <%= javascript_include_tag '../bower_components/webcomponentsjs/webcomponents-lite.js' %>
    <%= component_import_tag :elements %>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link href=<%= url_for h(app.config[:feed_uri]) %> rel=alternate type="application/atom+xml">

    <%= stylesheet_link_tag :site %>
    <%= stylesheet_link_tag '../bower_components/sanitize-css/sanitize.css' %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <blog-router base-regex="^<%= config[:base] %>"></blog-router>
    <main>
      <app-header-layout>
        <app-header fixed shadow slot=header>
          <app-toolbar>
            <h2 class=site-title>
              <% link_to '/index.html' do %>
              <%=h data.site.title %>
              <paper-ripple></paper-ripple>
              <% end %>
            </h2>
          </app-toolbar>
        </app-header>
        <section>
          <header>
            <paper-card>
              <h1><%=h tagname %>とタグ付けられたページ</h1>
            </paper-card>
          </header>
          <paper-card>
            <ul class=tagged-articles>
              <% articles.each do |article| %>
              <li><%= link_to h("#{article.date.strftime('%F')} #{article.title}"), article %></li>
              <% end %>
            </ul>
          </paper-card>
          <footer>
            <paper-card>
              <%= partial 'author' %>
              <%= partial 'search' %>
            </paper-card>
          </footer>
        </section>
      </app-header-layout>
    </main>
    <script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>
